.contact {
  height: 100vh;
  .container {
    margin-top: 3.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    img {
      height: 380px;
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
