*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

body {
  font-family: sans-serif;
  color: #fff;
  line-height: 1.7;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
  display: block;
  margin-bottom: 1em;
}

.heading-1 {
  font-size: 7rem;
  font-weight: normal;
  margin-bottom: 0.2em;
}

.heading-2 {
  color: #fff;
  font-size: 3rem;
  font-weight: normal;
}

.wrapper-left {
  background-image: url(../img/Endless-Constellation.svg);
  padding: 4em;
}

.wrapper-left-block {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 5em;
}

.wrapper-left-block i {
  font-size: 3.5rem;
}

.wrapper-left-block .landing {
  letter-spacing: 5px;
}

.second-left {
  margin-top: -15.2em;
}

.third-left {
  margin-top: 10.2em;
}

.forth-left {
  margin-top: 5em;
}

.fifth-left {
  margin-top: 20em;
}

.sixth-left {
  margin-top: 5em;
  color: #6c757d;
}

.sixth-left span {
  color: #fff;
  display: block;
  margin-bottom: 1.2em;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.sixth-left i {
  font-size: 1.5rem;
  margin-right: 0.5em;
}

.sixth-left-group {
  padding: 1em;
}

.sixth-left .social-group {
  padding: 1em;
}

.wrapper-right-landing img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper-right-block {
  padding: 3em;
  color: #6c757d;
  margin-top: 4em;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-right-block p {
  margin-bottom: 2em;
}

.wrapper-right-block span {
  color: #000;
  font-weight: bold;
}

.wrapper-right-block-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 2em;
}

.wrapper-right-block-grid-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.wrapper-right-block-grid-item p {
  margin-bottom: 0;
}

.wrapper-right-block-grid-item i {
  display: block;
  color: #000;
  font-size: 1.6rem;
}

.contact {
  height: 100vh;
}

.contact .container {
  margin-top: 3.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.contact .container img {
  height: 380px;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper-right-galery {
  padding: 3em;
}

.wrapper-right-galery-title {
  margin-top: -3em;
  margin-bottom: 4em;
  color: #6c757d;
}

.wrapper-right-galery-title span {
  color: #000;
  font-weight: bold;
}

.wrapper-right-galery-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
}

.wrapper-right-galery-grid figure {
  overflow: hidden;
}

.wrapper-right-galery-grid .small {
  height: 400px;
}

.wrapper-right-galery-grid .large {
  grid-column: 1 / -1;
}
/*# sourceMappingURL=main.css.map */